:root {
    --bg-color: #ffffff;
    --text-color: #333333;
    --header-bg-color: #ffffff;
    --header-text-color: #333333;
    --nav-bg-color: #333333;
    --nav-text-color: #ffffff;
    --nav-hover-color: #4CAF50;
    --footer-faded-color: #888888;
    --hamburger-color: #333333;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #011215;
        --text-color: #ffffff;
        --header-bg-color: #011215;
        --header-text-color: #ffffff;
        --nav-bg-color: #1a1a1a;
        --nav-text-color: #ffffff;
        --nav-hover-color: #4CAF50;
        --footer-faded-color: #aaaaaa;
    }
}

body {
    font-family: satoshi, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}
header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}
header:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}
.header-left {
    display: flex;
    align-items: center;
}
.header-left h1 {
    margin-right: 1rem;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul li {
    margin: 0 10px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
    position: relative;
}
nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
nav ul li a:hover::after {
    transform: scaleX(1);
}
header {
    padding: 1rem;
}
.donate-button {
    background-color: #000000;
    color: #ffffff;
    padding: 0.5rem 1.5rem;
    border: 2px solid transparent;
    border-radius: 0;
    cursor: pointer;
    transition: border-color 0.3s ease;
    min-width: 120px;
}
.donate-button:hover {
    border-color: #ffffff;
}
main {
    flex: 1;
    padding: 0;
    width: 100%;
}
footer {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 2rem;
    margin-top: auto;
    transition: background-color 0.3s, color 0.3s;
}
footer:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}
.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.footer-left {
    display: flex;
    gap: 20px;
}
.footer-section {
    margin: 10px;
    text-align: left;
}
.footer-section p {
    margin: 0 0 10px 0;
}
.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer-section ul li {
    margin-bottom: 5px;
}
.footer-section ul li a {
    color: var(--footer-text-color);
    text-decoration: none;
    position: relative;
}
.footer-section ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.footer-section ul li a:hover::after {
    transform: scaleX(1);
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.social-links a {
    font-size: 24px;
    text-decoration: none;
    transition: transform 0.3s ease;
}
.social-links a:hover {
    transform: scale(1.2);
}

    .mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--bg-color);
        z-index: 1000;
        padding: 20px;
    }

@media (max-width: 600px) {
    .header-left nav {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    .mobile-menu.active {
        display: block;
    }
    .mobile-menu ul {
        list-style-type: none;
        padding: 0;
    }
    .mobile-menu ul li {
        margin: 20px 0;
    }
    .mobile-menu ul li a {
        color: var(--text-color);
        text-decoration: none;
        font-size: 1.2rem;
    }
    .close-menu {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .footer-content {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-left {
        flex-direction: column;
        gap: 10px;
    }
}
.hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--hamburger-color);
}
.video-container {
    width: 100vw;
    height: 56.25vw; /* Maintain 16:9 aspect ratio */
    max-height: 100vh; /* Limit height to viewport height */
    min-height: 400px; /* Set a minimum height */
    overflow: hidden;
    position: relative;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.video-overlay h1 {
    font-size: 10vw;
    color: black;
    text-align: center;
    padding: 20px;
}
#haystack-story {
    padding: 2rem 0;
}
.story-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.story-text, .story-image {
    width: 100%;
    padding: 1rem;
}
.story-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.story-text h2, .pod-text h2 {
    font-family: satoshi, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    font-size: 40px;
    margin-top: 0.5rem; /* Added this line to reduce top margin */
    margin-bottom: 0.2rem;
    align-self: flex-start;
    font-weight: 200;
}
.story-text h3 {
    font-size: 1.5rem;
    align-self: flex-start;
}
.custom-hr {
    border-top: 1px solid var(--text-color);
    margin: 1rem 0;
    width: 100%;
    align-self: stretch;
}
.story-text p {
    font-size: 1.2rem;
    line-height: 1.6;
    align-self: flex-start;
}
.story-image img {
    width: 100%;
    height: auto;
    display: block;
}
@media (min-width: 800px) {
    .story-container {
        flex-direction: row;
        align-items: stretch;
    }
    .story-text, .story-image {
        width: 50%;
    }
    .story-text {
        display: flex;
        align-items: center;
    }
    .story-container.reverse {
        flex-direction: row-reverse;
    }
}
.pod-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pod-text, .pod-image {
    width: 100%;
    padding: 1rem;
}
.pod-text {
    text-align: left;
}
.pod-text h2 {
    font-family: satoshi, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    font-size: 40px;
    margin-bottom: 0.5rem;
}
.pod-text h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.pod-text hr {
    border: none;
    border-top: 1px solid var(--text-color);
    margin: 1rem 0;
    width: 100%;
}
.pod-text p {
    font-size: 1.2rem;
    line-height: 1.6;
}
.pod-image img {
    width: 100%;
    height: auto;
    display: block;
}
@media (min-width: 800px) {
    .pod-container {
        flex-direction: row;
        align-items: stretch;
    }
    .pod-text, .pod-image {
        width: 50%;
    }
    .pod-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
a {
    text-decoration: none;
    color: inherit;
    position: relative;
}
a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
a:hover::after {
    transform: scaleX(1);
}
#mission-statement {
    padding: 4rem 2rem;
    background-color: var(--bg-color);
    color: var(--text-color);
}
.mission-container {
    max-width: 1200px;
    margin: 0 auto;
}
#mission-statement h2 {
    font-size: 2.5vw;
    line-height: 1.4;
    text-align: center;
}
@media (max-width: 768px) {
    #mission-statement h2 {
        font-size: 5vw;
    }
}
.footer-faded {
    color: var(--footer-faded-color);
}
.blog-posts {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.blog-post {
    margin-bottom: 40px;
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 20px;
}
.blog-post h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}
.post-meta {
    font-style: italic;
    color: var(--footer-faded-color);
    margin-bottom: 15px;
}
.read-more {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid var(--text-color);
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.read-more:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}
.blog-content {
    margin-bottom: 15px;
}
.expanded-content {
    margin-top: 15px;
}
.expanded-content ul {
    margin-left: 20px;
    margin-bottom: 15px;
}
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.contact-form form {
    display: flex;
    flex-direction: column;
}
.contact-form label {
    margin-top: 10px;
}
.contact-form input,
.contact-form textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid var(--text-color);
    background-color: var(--bg-color);
    color: var(--text-color);
}
.contact-form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--text-color);
    color: var(--bg-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.contact-form button:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
}
